:root {
	tab-size: 2;
}

.edgeLabel {
	/* tiny horizontal padding so labels don't touch lines */
	padding: 0 3px;
	border-radius: 3px;
}

img {
	margin: 0 auto;
}

.de {
	color: #13540c;
	font-style: italic;
}

#my-svg .node * {
	stroke: blue !important;
	fill: #ddf !important;
}

#my-svg .node.shelf > rect {
	stroke: #13540c !important;
	fill: #cde498 !important;
	&:after {
		content: "shelf";
		position: absolute;
		bottom: 4px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 10px;
		color: #888;
	}
}
#my-svg .node.external * {
	fill: #eee !important;
	stroke: #999 !important;
}
#my-svg .node.action * {
	fill: #fff1e0 !important;
	stroke: #ff9800 !important;
}